<ul class="collection">
    <% allDishes.forEach((dish) => { %>
        <li class="collection-item">
            <h3><%= dish.Name %></h3>
            <p><%= dish.Description %></p>
        </li>
    <% }) %>
</ul>